<app-nav-bar></app-nav-bar>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?cs=srgb&dl=pexels-min-an-853168.jpg&fm=jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://static01.nyt.com/images/2022/08/04/opinion/04brooksSub/04brooksSub-articleLarge.jpg?quality=75&auto=webp&disable=upscale" class="d-block w-100" alt="...">
      </div>
      
    </div>
  </div>


<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col col 12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Name</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col 12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Describe Your Friend</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col 12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Friend Nickname</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col 12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <button class="btn btn-primary">Submit</button>
                </div>

                
            </div>
        </div>
    </div>
</div>